<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/body.css">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <script src="../static/scripts/setup.js"></script>
    <script src="../static/scripts/move_test.js"></script>
    <link rel="icon" href="../static/image_dump/angry_bass_face.jpg">
    <title>Bubble Bass's Bubble Buster</title>
</head>
<body>
    <h1>Bubble Bass's Bubble Buster</h1>
</body>
</html>
